.desabilitado
{
    fill:white;
    stroke:black;
    stroke-width:4px;
    pointer-events: none;
}
.marcadoAzul
{
    fill:none;
    stroke:blue;
    stroke-width:15px;
}
.marcadoAzulDebil
{
    fill:none;
    stroke:blue;
    stroke-width:7px;
}
.marcadoAzulAusente
{
    fill:none;
    stroke:blue;
    stroke-width:7px;
}
.marcadoExtraer
{
    fill:none;
    stroke:red;
    stroke-width:7px;
}
.marcadoRojoC
{
    fill:none;
    stroke:red;
    stroke-width:15px;
}
.marcadoVerde
{
    fill:green;
    stroke:black;
    stroke-width:1px;
}
.marcadoMorado
{
    fill:#CC66CC;
    stroke:black;
    stroke-width:1px;
}
.marcadoMarron
{
    fill:#CC6600;
    stroke:black;
    stroke-width:1px;
}
.marcadoAmarillo
{
    fill:yellow;
    stroke:black;
    stroke-width:1px;
}
.marcadoRojo
{
    fill:red;
    stroke:black;
    stroke-width:10px;
}
.marcadoRojoRemanente
{
    fill:none;
    stroke:red;
    stroke-width:5px;
}
.marcadoRojoRestaTempo
{
    fill:white;
    stroke:red;
    stroke-width:15px;
}
.marcadoAzulR
{
    fill:blue;
    stroke:black;
    stroke-width:10px;
}
.marcadoNaranja
{
    fill:orange;
    stroke:black;
    stroke-width:1px;
}
.marcadoTomate
{
    fill:tomato;
    stroke:black;
    stroke-width:1px;
}
.diente
{
    fill-opacity:0;
    stroke:black;
    stroke-width:4px;
    cursor: pointer;
}
.figura
{
    fill-opacity:0;
    fill:black;
    stroke:black;
    stroke-width:40px;
    cursor: pointer;
}
.figuraOculta
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
    cursor: pointer;
}
.numeracion
{
    fill-opacity:0;
    stroke:black;
    stroke-width:2px;
}
.implanteDental
{
    fill:none;
    opacity: 0;
    stroke-width:1px;
    cursor: pointer;
}
.implanteDentalHija
{
    fill:none;
    opacity: 0;
    stroke-width:1px;
    cursor: pointer;
}
.ImplanteBueno
{
    fill-opacity:0;
    stroke:blue;
    stroke-width:40px;
    cursor: pointer;
}
.ImplanteMalo
{
    fill-opacity:0;
    stroke:red;
    stroke-width:40px;
    cursor: pointer;
}
.diastema1
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
}
.diastema2
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
}
.ausente
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
}
.ausenteHija
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
}
.fractura
{
    fill:none;
    opacity: 0;
    stroke-width:3px;
}
.FracturaRojo
{
    fill:none;
    stroke:red;
    stroke-width:7px;
}
.remanente
{
    fill:none;
    opacity: 0;
    stroke-width:5px;
}
.corona
{
    fill:white;
    opacity: 0;
    stroke:red;
    stroke-width:1px;
}
.coronadefinitiva
{
    fill:white;
    stroke:blue;
    stroke-width:15px;
}
.coronatemporal
{
    fill:white;
    opacity: 0;
    stroke:red;
    stroke-width:5px;
}
.endodoncia
{
    fill:none;
    opacity: 0;
}
.TratamientoPulpar
{
    fill:none;
    opacity: 0;
    stroke-width:1px;
}
.PulparBueno
{
    fill:blue;
    stroke:black;
    stroke-width:1px;
}
.PulparMalo
{
    fill:red;
    stroke:black;
    stroke-width:1px;
}
.RestauracionMala
{
    fill:blue;
    stroke:red;
    stroke-width:15px;
}
.ProtesisFijaLeft
{
    fill-opacity:0;
    fill: none;
    stroke-width:1px;
}
.ProtesisFijaRight
{
    fill-opacity:0;
    fill: none;
    stroke-width:3px;
}
.ProtesisFijaMid
{
    fill-opacity:0;
    fill: none;
    stroke-width:3px;
}
.fusion1, .fusion2, .fusion3, .fusion4
{
    fill:none;
    opacity: 0;
    stroke-width:1;
}
.fusion1Azul, .fusion2Azul, .fusion3Azul, .fusion4Azul
{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.clavija
{
    fill:none;
    opacity: 0;
    stroke-width:1;
}

.clavijaAzul
{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.geminacion
{
    fill:none;
    opacity: 0;
    stroke-width:1;
}

.geminacionAzul
{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.supernumerario1, .supernumerario2, .supernumerario3, .supernumerario4
{
    fill:none;
    opacity: 0;
    stroke-width:1; 
}

.supernumerario1Azul, .supernumerario2Azul, .supernumerario3Azul, .supernumerario4Azul
{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.transposicion1, .transposicion2, .transposicion3, .transposicion4 
{
    fill:none;
    opacity: 0;
    stroke-width:2;
}

.transposicion1Azul, .transposicion2Azul, .transposicion3Azul, .transposicion4Azul
{
    fill:none;
    stroke:blue;
    stroke-width:2;
}

.ortodontico_fijo1, .ortodontico_fijo2, .ortodontico_fijo3 
{
    fill:none;
    opacity: 0;
}

.ortodontico_fijo1Azul, .ortodontico_fijo2Azul, .ortodontico_fijo3Azul
{
    fill:none;
    stroke:blue;
}

.ortodontico_fijo1Rojo, .ortodontico_fijo2Rojo, .ortodontico_fijo3Rojo
{
    fill:none;
    stroke:red;
}

.ortodontico_remo
{
    fill:none;
    opacity: 0;
}

.ortodonticoAzul
{
    fill:none;
    stroke:blue;
}

.ortodonticoRojo
{
    fill:none;
    stroke:red;
}

.puente_1, .puente_2, .pilar, .puente_total
{
    fill:none;
    opacity: 0;
}

.puente_1Azul, .puente_2Azul, .pilarAzul, .puente_totalAzul
{
    fill:none;
    stroke:blue;
}

.puente_1Rojo, .puente_2Rojo, .pilarRojo, .puente_totalRojo
{
    fill:none;
    stroke:red;
}

.protesisFijaAzul
{
    fill:none;
    stroke:blue;
}

.protesisFijaRojo
{
    fill:none;
    stroke:red;
}

.protesis_remo
{
    fill:none;
    opacity: 0;
}

.protesisRemovibleAzul
{
    fill:none;
    stroke:blue;
}

.protesisRemovibleRojo
{
    fill:none;
    stroke:red;
}

.extruido, .intruido
{
    fill:none;
    opacity: 0;
}

.intruidoAzul
{
    fill:blue;
    stroke:blue;
}

.extruidoAzul
{
    fill:blue;
    stroke:blue;
}

.giroversion_1, .giroversion_2
{
    fill:none;
    opacity: 0;
    stroke-width:2
}

.giroversion1Azul, .giroversion2Azul
{
    fill:none;
    stroke-width:2;
    stroke:blue;
}

.migracion_1, .migracion_2 
{
    fill:none;
    opacity: 0;
    stroke-width:2
}

.migracion1Azul, .migracion2Azul
{
    fill:blue;
    stroke-width:2;
    stroke:blue;
}

.edentulo_total
{
    fill:none;
    opacity: 0;
    stroke:blue;
    stroke-width:15;
    pointer-events: none;
}

.edentulo_totalAzul
{
    stroke:blue;
    stroke-width:15;
}

.protesis_total
{
    fill:none;
    opacity: 0;
    stroke:blue;
    stroke-width:15;
    pointer-events: none;
}

.protesis_totalAzul
{
    stroke:blue;
    stroke-width:15;
}

.protesis_totalRojo
{
    stroke:red;
    stroke-width:15;
}